@if (post(); as postData) {
  <div class="container mx-auto my-5 md:py-10 px-5">

    <a routerLink="/posts" class="btn-primary mb-10">
      &larr; Back to Posts
    </a>

    <div class="grid grid-cols-1 md:grid-cols-10 gap-5 sm:gap-10">
      <div class="md:col-span-4">
        <img [src]="postData.imageUrl" [alt]="postData.title" class="w-full h-96 object-cover rounded-xl shadow-lg mb-8">
      </div>
      <div class="md:col-span-6">
        <div class="flex items-center gap-4 mb-5">
          <h1 class="text-4xl font-bold">{{ postData.title }}</h1>
          <button
            (click)="store.toggleFavorite(postData.id)"
            class="rounded-full transition-colors text-gray-400 hover:text-red-500 cursor-pointer"
            [class.text-red-500]="postData.isFavorite"
            [class.hover:text-red-600]="postData.isFavorite"
            title="Toggle favorite"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-12">
              <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
            </svg>
          </button>
        </div>

        @if (user(); as userData) {
          <div class="flex items-center text-gray-600 mb-8">
            <p class="text-lg">by <span class="font-semibold">{{ userData.name }}</span> ({{ userData.email }})</p>
          </div>
        }

        <p class="text-xl leading-relaxed text-gray-800">{{ postData.body }}</p>
      </div>
    </div>
    <hr class="my-12">

    @if (comments(); as postComments) {
      <app-post-comments [comments]="postComments" />
    }
  </div>
} @else {
  <app-loader />
}
